body {
  /* The image used */
  background: url("cs499bg.jpg");

  min-height: 380px;

  /* Center and scale the image */
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  overflow: hidden;
}